@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: var(--fujiWhite);
    --flamingo: var(--fujiWhite);
    --pink: var(--sakuraPink);
    --mauve: var(--oniViolet);
    --red: var(--waveRed);
    --maroon: var(--surimiOrange);
    --peach: var(--roninYellow);
    --yellow: var(--carpYellow);
    --green: var(--autumnGreen);
    --teal: var(--springGreen);
    --sky: var(--lightBlue);
    --sapphire: var(--springBlue);
    --blue: var(--crystalBlue);
    --lavender: var(--springViolet1);
    --text: var(--fujiWhite);
    --subtext1: var(--fujiGray);
    --subtext0: var(--oldWhite);
    --overlay2: var(--sumiInk4);
    --overlay1: var(--sumiInk3);
    --overlay0: var(--sumiInk3);
    --surface2: var(--sumiInk2);
    --surface1: var(--sumiInk2);
    --surface0: var(--sumiInk2);
    --base: var(--sumiInk1);
    --mantle: var(--sumiInk0);
    --crust: var(--sumiInk0);
    --accent: var(--pink);

    --fujiWhite: #dcd7ba;
    --oldWhite: #c8c093;
    --sumiInk0: #16161d;
    --sumiInk1: #1f1f28;
    --sumiInk2: #2a2a37;
    --sumiInk3: #363646;
    --sumiInk4: #54546d;
    --waveBlue1: #223249;
    --waveBlue2: #2d4f67;
    --winterGreen: #2b3328;
    --winterYellow: #49443c;
    --winterRed: #43242b;
    --winterBlue: #252535;
    --autumnGreen: #76946a;
    --autumnRed: #c34043;
    --autumnYellow: #dca561;
    --samuraiRed: #e82424;
    --roninYellow: #ff9e3b;
    --waveAqua1: #6a9589;
    --dragonBlue: #658594;
    --fujiGray: #727169;
    --springViolet1: #938aa9;
    --oniViolet: #957fb8;
    --crystalBlue: #7e9cd8;
    --springViolet2: #9cabca;
    --springBlue: #7fb4ca;
    --lightBlue: #a3d4d5;
    --waveAqua2: #7aa89f;
    --springGreen: #98bb6c;
    --boatYellow1: #938056;
    --boatYellow2: #c0a36e;
    --carpYellow: #e6c384;
    --sakuraPink: #d27e99;
    --waveRed: #e46876;
    --peachRed: #ff5d62;
    --surimiOrange: #ffa066;
  }
}
